/* ---------index images-------- */
/* .jumbotron div {
    border-radius: 50%;
    box-shadow: 3px 3px 15px 5px rgba(51, 51, 51, 0.5) inset;
    background-size: cover;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.jumbotron a {
    font-size: 2.5em;
    color: rgb(65, 155, 9);
    text-decoration: none;
    /* ---- */
/* display: none;
    text-align: center;
    overflow: hidden;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    z-index: 99;
} */

.jumbotron div:hover {
    transform: scale(1.2, 1.2);
    background: rgba(255, 255, 255, 0.823);
}

/* .jumbotron div:hover a {
    display: block;
}

.jumbotron a:hover {
    color: rgb(65, 155, 9);
    text-decoration: none;

}

.img1 {
    background-image: url(../images/brand1.png);
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 48px;
    left: 182px;
}

.img1 a {
    padding-top: 70px;
    font-size: 1.8em;
    font-weight: bold;
}

.img2 {
    background-image: url(../images/brand2.png);
    width: 210px;
    height: 210px;
    position: absolute;
    top: 135px;
    left: 545px;
}

.img2 a {
    padding-top: 80px;
}

.img3 {
    background-image: url(../images/brand3.png);
    width: 170px;
    height: 170px;
    position: absolute;
    top: 105px;
    left: 155px;
}

.img3 a {
    padding-top: 50px;
}

.img3:hover a {
    display: block;
}


.img4 {
    background-image: url(../images/brand4.png);
    width: 260px;
    height: 260px;
    position: absolute;
    top: 170px;
    right: 320px;
}

.img4 a {
    padding-top: 100px;
} */