/*----------------- carousel --------------------*/
.carousel-item img{
    height: 500px;
}

#carouselCaptions{
    width: 80%;
    margin: 5px  auto;
    margin-bottom: 10px;
}


.carousel-caption{
    background-color: #3cba92;
    opacity: 0.9;
}

/*----------------- product --------------------*/
content h3{
    margin: 15px 0;
    margin-left: 15%;
    color: #0ba360;
}

.contentFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contentFlex>div {
    height: 400px;
}

.contentFlex>h3{
    padding: 5px;
}


.paperTape{
    margin: 100px 0;
}

.portrait>div{
    width: 200px;
    margin: 10px auto;
}

.portrait img{
    height: 600px;
}