/* -----------news-------- */
.newsBar {
    background-image: url('../images/news/newsBar.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    width: 100%;
    margin: 20px 0;
    margin-left: 30%;
}

#news h2 {
    margin: 10px 15%;
}

#news .accordion {
    list-style-type: none;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#news .accordion li {
    margin: 10px auto;
}

#news .accordion-panel {
    display: none;
}

.accordion-panel img {
    height: 400px;
}

#news button {
    width: 1100px;
    text-align: left;
}
