/* -------product--------- */

.logo {
    height: 200px;
    /* width: 70%; */
    background-image: url(../images/product/logo.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 20%;
}

.productFlex {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start
}

.card {
    margin: 25px;
    align-self: flex-start;
    align-items: flex-start
}

.card-img-top {
    height: 400px;
    transition: all 0.5s ease-out;
}


.card-text {
    height: 160px;
    font-size: 0.9em;
}

.card-text span {
    font-size: 1.1em;
}