/*-----------------body & wrap --------------------*/
html,
body {
    scroll-behavior: smooth;
}

body .wrap {
    font-family: Microsoft Jhenghei;
    /* background-image: url(../images/nav.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(221, 219, 219, 0.558); */
    /* opacity: 0.5; */
}

/*----------------- index --------------------*/


.jumbotron {
    height: 650px;
    background-image: url(../images/brand.png);
    background-color: rgb(76, 67, 67);
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    top: 15%;
    left: 15%;
    height: 200px;
    background-color: rgba(68, 64, 64, 0.918);
    text-align: center;
    padding-top: 60px;
    color: rgb(241, 224, 202);
    font-size: 1.5em;
}

.list-group {
    margin-left: 60%;
    margin-top: 30%;
}

.list-group li {
    background-color: rgba(115, 109, 109, 0.918);
    font-size: 1.3em;
}

.list-group li:hover {
    border: 1px solid rgb(241, 224, 202);
    background-color: rgba(47, 43, 43, 0.918);

}

.list-group li a {
    text-decoration: none;
    color: rgb(241, 224, 202);
    padding: 10px;

}

/* ---------images-------- */
.jumbotron div {
    border-radius: 50%;
    box-shadow: 3px 3px 15px 5px rgba(51, 51, 51, 0.5) inset;
    background-size: cover;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.jumbotron a {
    font-size: 2.5em;
    color: rgb(65, 155, 9);
    text-decoration: none;
    /* ---- */
    display: none;
    text-align: center;
    overflow: hidden;
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    z-index: 99;
}

.jumbotron div:hover {
    transform: scale(1.2, 1.2);
    background: rgba(255, 255, 255, 0.823);
}

.jumbotron div:hover a {
    display: block;
}

.jumbotron a:hover {
    color: rgb(65, 155, 9);
    text-decoration: none;

}

.img1 {
    background-image: url(../images/brand1.png);
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 48px;
    left: 182px;
}

.img1 a {
    padding-top: 70px;
    font-size: 1.8em;
    font-weight: bold;
}

.img2 {
    background-image: url(../images/brand2.png);
    width: 210px;
    height: 210px;
    position: absolute;
    top: 135px;
    left: 545px;
}

.img2 a {
    padding-top: 80px;
}

.img3 {
    background-image: url(../images/brand3.png);
    width: 170px;
    height: 170px;
    position: absolute;
    top: 105px;
    left: 155px;
}

.img3 a {
    padding-top: 50px;
}

.img3:hover a {
    display: block;
}


.img4 {
    background-image: url(../images/brand4.png);
    width: 260px;
    height: 260px;
    position: absolute;
    top: 170px;
    right: 320px;
}

.img4 a {
    padding-top: 100px;
}

/* --------nav------- */

header nav {
    font-family: Microsoft Jhenghei;
    opacity: 0.9;
}

nav h2 {
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 8px;
}

.loginBtn {
    float: right;
}

.showFb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
}

/* --------intro-introduce-------- */


.designer {
    width: 90%;
    margin: 20px auto;
}

.designImg {
    background-image: url(../images/designer.png);
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 50px;
    border-radius: 50%;
}

.designer h3 {
    margin-bottom: 30px;
}

.designImg2 {
    background-image: url(../images/intro2.jpg);
    height: 1000px;
    width: 600px;
    float: right;
    margin-right: 50px;
    background-repeat: no-repeat;
}

.designer h4 {
    margin-top: 60px;
}

.designer p {
    margin-top: 20px;
}

.clearfix {
    clear: both;
}

.caricature {
    width: 80%;
    margin: 10px auto;
}


.slider {
    width: 500px;
    height: 700px;
    margin: 50px 30%;
    /* transition: all 2s ease 2s; */
    transition: transform 2s ease,
        opacity .5s ease-out
}

/* -------product--------- */

.logo {
    height: 200px;
    /* width: 70%; */
    background-image: url(../images/logo.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 20%;
}

.row {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.card {
    margin: 25px;
}

.card-img-top {
    height: 400px;
    transition: all 0.5s ease-out;
}


.card-img-top:hover {
    transform: scale(1.1, 1.1);
}

.card-text {
    height: 160px;
    font-size: 0.9em;
}

.card-text span {
    font-size: 1.1em;
}

/* -----------news-------- */
.newsBar {
    background-image: url(../images/newsBar.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin: 20px 30%;
}

#news h2 {
    margin: 10px 180px;

}

#news .accordion {
    list-style-type: none;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#news .accordion li {
    margin: 10px auto;
}

#news .accordion-panel {
    display: none;
}

.accordion-panel img {
    height: 400px;
}

#news button {
    width: 1200px;
    text-align: left;
}

/* -----------cart------------ */
#cart .card-header {
    margin: 5px 10%;
}

#cart .card-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cart .card-header li {
    flex: 1;
}

#cart .mb-3 {
    margin: 5px 10%;
}

#cart .mb-3 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cart .mb-3 li {
    margin: 5px 10px;
    flex: 1;
    margin-top: 50px;
}

#cart .mb-3 img {
    width: 100px;
    height: 100px;
    float: left;
}

#cart .btn {
    height: 40px;
    width: 60px;
}

#cart .total {
    float: right;
    margin: 20px 5px;
}

#cart .totalBtn {
    float: right;
    margin: 15px;
    margin-right: 10%;
}

/* --------footer------- */
footer {
    height: 50px;
    background-color: rgba(64, 60, 60, 0.918);
}

footer p {
    color: antiquewhite;
    text-align: center;
    padding-top: 10px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: antiquewhite;
    text-decoration: none;
}