/*-----------------body & wrap --------------------*/

body .wrap {
    font-family: Microsoft Jhenghei;
    /* background-image: url(../images/nav.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(221, 219, 219, 0.558); */
    /* opacity: 0.5; */
}

/*----------------- index --------------------*/


.jumbotron {
    height: 650px;
    background-image: url(../images/brand.png);
    background-color: rgb(76, 67, 67);
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    top: 15%;
    left: 15%;
    height: 200px;
    background-color: rgba(68, 64, 64, 0.918);
    text-align: center;
    padding-top: 60px;
    color: rgb(241, 224, 202);
    font-size: 1.5em;
}

.list-group {
    margin-left: 60%;
    margin-top: 30%;
}

.list-group li {
    background-color: rgba(115, 109, 109, 0.918);
    font-size: 1.3em;
}

.list-group li:hover {
    border: 1px solid rgb(241, 224, 202);
    background-color: rgba(47, 43, 43, 0.918);

}

.list-group li a {
    text-decoration: none;
    color: rgb(241, 224, 202);
    padding: 10px;

}

/* --------nav------- */

header nav {
    font-family: Microsoft Jhenghei;
    /* background-image: url(../images/nav.jpg); */
    background-color: rgba(68, 64, 64, 0.918);
    opacity: 0.5;
}

nav h2 {
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 8px;
}

/* --------intro-introduce-------- */
/* #introduce {
    background-image: url(../images/intro_back.jpg);
    background-size: cover;
} */

.designer {
    width: 90%;
    margin: 20px auto;
}

.designImg {
    background-image: url(../images/designer.png);
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 50px;
    border-radius: 50%;
}

.designer h3 {
    margin-bottom: 30px;
}

.designImg2 {
    background-image: url(../images/intro2.jpg);
    height: 1000px;
    width: 600px;
    float: right;
    margin-right: 50px;
}

.designer h4 {
    margin-top: 60px;
}

.designer p {
    margin-top: 20px;
}

.clearfix {
    clear: both;
}

.caricature {
    width: 80%;
    margin: 10px auto;
}


.slider {
    width: 500px;
    height: 700px;
    margin: 20px auto;
    transition: all 2s ease 2s;
    float: right;
    margin-right: 50px;
}

/* -------product--------- */
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20px;
}


/* -----------news-------- */
#news .accordion {
    list-style-type: none;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

#news .accordion li {
    margin: 10px auto;
}

#news .accordion-panel {
    display: none;
}

#news button {
    width: 1200px;
    text-align: left;
}

/* --------footer------- */
footer {
    height: 50px;
    background-color: rgba(64, 60, 60, 0.918);
}

footer p {
    color: antiquewhite;
    text-align: center;
    padding-top: 10px;
}

footer a {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: antiquewhite;
    text-decoration: none;
}